<!-- Footer start -->
<footer class="footer">
  <div class="sub-footer">
    <div class="container">
      <div class="d-flex row align-items-center justify-content-center flex-column">
        <div class="col-lg-4">
          <div class="social-list-2">
            <ul class="social-icons" style="display: flex; justify-content: center; align-items: center; list-style: none; padding: 0;">
              <li style="margin: 0 10px;"><a href="www.google.com" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
              <li style="margin: 0 10px;"><a href="https://www.facebook.com/subhankar.sahoo.188" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
              <li style="margin: 0 10px;"><a href="https://www.instagram.com/sahoo__subha" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
              <li style="margin: 0 10px;"><a href="https://twitter.com/subha4443" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
              <li style="margin: 0 10px;"><a href="https://www.linkedin.com/in/subhankar-sahoo-074028202" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->